<section class="o-block blog-posts mt-4 row no-gutters">
    <div class="container">
      <div class="row">


        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>

        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <h3 class="a-card-header">blog title</h3>
              <p class="a-card-text truncated">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur debitis dolor, expedita iure minus nam.
              </p>
            </div>
          </div>
        </article>


      </div>
    </div>
</section>