<div class="o-hamburger m-hamburger--spin toggle-div burger-nav" name="burger-nav">
  <div class="m-hamburger-box">
    <div class="m-hamburger-inner"></div>
  </div>
</div>


<div class="toggle-content a-burger-menu" id="burger-nav">


  <!-- BURGER MENU ---------------------------------- -->
  <div class="o-hamburger m-hamburger--spin toggle-div burger-nav on" name="burger-nav">
    <div class="m-hamburger-box">
      <div class="m-hamburger-inner"></div>
    </div>
  </div>

  <section class="navbar-nav">


    <section class="o-user-menu user-menu-bottom">


      <ul class="m-user-menu list-unstyled m-ratings">
        <li class="m-nav-item user-link">
          <p class="nav-link nav-title a-grey">Ad Ratings</p>
        </li>

        <li class="m-nav-item user-link">
          <a class="nav-link a-text-link a-grey" href="/about/">About</a>
        </li>
        <li class="m-nav-item user-link">
          <a class="nav-link a-text-link a-grey" href="/pricing/">Pricing</a>
        </li>
        <li class="m-nav-item user-link">
          <a class="nav-link a-text-link a-grey" href="/case-studies/">Case Studies</a>
        </li>
        <li class="m-nav-item user-link">
          <a class="nav-link a-text-link a-grey" href="/contact/">Contact</a>
        </li>

      </ul>

      <hr class="a-menu-hr">


      <ul class="m-user-menu list-unstyled m-group">
        <li class="m-nav-item user-link">
          <p class="nav-link a-grey">System1 Group</p>
        </li>

        <li class="m-nav-item user-link">

          <a class="nav-link a-text-link a-grey" href="/privacy-policy/">Privacy Policy</a>

        </li>
        <li class="m-nav-item user-link">

          <a class="nav-link a-text-link a-grey" href="/terms-and-conditions/">Terms and Conditions</a>

        </li>
      </ul>
    </section>
  </section>
</div>