<div class="o-services-detail">
    <div class="container m-services-wrapper">
        <div class="row">
            <div class="col-12">
                <img src="http://place-hold.it/1140x348" alt="#" class="img-fluid" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="a-title">Digital Strategy</h1>
                <div class="m-seperator">
                    <div class="a-seperator"></div>
                    <div class="a-scewed-box"></div>
                    <div class="a-seperator"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-10">
                <h3 class="a-subtitle">Subtitle if needed</h3>
                <p class="a-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean leo augue, egestas dictum dui eget, faucibus blandit diam. Vivamus nunc tortor, vulputate vitae varius ut, pulvinar pretium ex. Cras lobortis elementum pellentesque. Nunc nec libero sem. Cras luctus eget dolor in bibendum. Mauris pellentesque sollicitudin nisi, at viverra massa fermentum ac. Quisque pulvinar felis id nisl blandit porttitor. Pellentesque fringilla nisi a fringilla scelerisque. Mauris libero dui, accumsan et luctus accumsan, scelerisque nec turpis. Fusce a libero eu libero pretium vulputate ut quis ipsum. Nunc non urna velit. Aenean ornare, dui ac scelerisque semper, erat risus varius velit, sit amet dapibus orci risus sit amet est. Phasellus rhoncus purus et nisl egestas, non aliquet eros hendrerit. Mauris ultrices augue mollis, tincidunt tellus in, tempor lacus.</p>
            </div>
            <div class="col-12 text-center">
                <h3 class="a-subtitle">For more details email this cool guy here <a class="a-link" href="mailto:tom@lab.co.uk">tom@lab.co.uk</a></h3>
            </div>
        </div>
    </div>
</div>